{% extends "base/base.html" %}
{% import "base/_macros.html" as macros %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block head %}
    {{ super() }}
    <script src="//cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
{% endblock %}
{% block page_content %}
    <div class="container">
    <div class="col-md-1"></div>
    <div class="col-md-8">
    <h1>{{ answer.question.title }}</h1>
    <div class="total-answers clearfix">
            <div class="author-info">
                {% if not answer.anonymous %}
                <div class="col-md-1"><a href="{{ url_for('main.user',username=answer.author.username) }} "><img src="{{ answer.author.avatar_url_sm }}" alt="avatar"></a></div>
                {% else %}
                 <div class="col-md-1"><img src="https://dummyimage.com/20x20/748/699" alt="avatar"></div>
                {% endif %}
                <div class="col-md-11">
                    {% if not answer.anonymous %}
                    <a href="{{ url_for('main.user',username=answer.author.username) }}">{{ answer.author.username }}</a>
                    <span style="display: block">{{ answer.author.about_me|replace_none }}</span>
                    {% else %}
                    <a href="">匿名用户</a>
                    {% endif %}
                </div>
            </div>
            <span class="text-muted" style="position: relative;top: 10px">{{ answer.liked_answers.count() }}赞同了该答案</span>
            <div class="answer-body">
                <p>{{ answer.body|safe }}</p>
                <div style="margin-top: 30px">
                <span class="text-muted">编辑于{{ moment(answer.timestamp).format('L') }}</span>
                </div>
            </div>
            <div class="question-widget" style="margin-top: 20px">
                    {% if not current_user.is_like_answer(answer) %}
                     <a href="{{ url_for('main.like_answer',id=answer.id) }}" class="">
                       <span class="glyphicon glyphicon-thumbs-up"></span>
                       <span class="badge">{{ answer.liked_answers.count() }}</span>
                   </a>
            {% else %}
                   <a href="{{ url_for('main.unlike_answer',id=answer.id) }}" class="">
                       <span class="glyphicon glyphicon-thumbs-down"></span>
                       <span class="badge">{{ answer.liked_answers.count() }}</span>
                   </a>
            {% endif %}
                   <a href="{{ url_for('.answer_comments',id=answer.id) }}"><span class=""></span>{{ answer.undelete_comments.count() }}条评论</a>
                    {% if answer.author==current_user or current_user.can(Permission.MODERATE_COMMENTS) %}
                   <a href="{{ url_for('main.edit_answer',id=answer.id) }}"><span class="glyphicon glyphicon-pencil"></span>编辑答案</a>
                    {% endif %}
            </div>
        </div>
    <h1>评论</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form,hiddens='only') }}
        {{ wtf.form_field(form.body,class='ckeditor') }}
        {{ wtf.form_field(form.submit) }}
    </form>
    {% include "utility/_comments.html" %}
    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination,'.answer_comments',id=answer.id) }}
    </div>
    {% endif %}
    </div>
    <div class="col-md-3">
      <div class="jumbotron">
         <div class="adv">
         </div>
      </div>
      <div class="tags jumbotron">

      </div>
    </div>
    </div>
{% endblock %}