<style>
    .author-info {
        max-width: 100%;
        height: 100px;
        box-shadow: #d9efc8 2px 2px 1px -1px;
        border: 1px solid #dbefe9;
        margin-top: 20px;
    }

    .follow-user-btn {
        float: right;
        position: relative;
        top: 25px;
        right: -20px;
    }

    .who-is-following {
        display: inline;
    }

    .who-is-following span {
        position: relative;
        top: 40px;
    }

</style>

{% for follow in follows %}
    <div class="author-info">

        <div class="col-md-2">
            {% if follow.avatar_url_nm %}
                <a href="{{ url_for('main.user',username=follow.username) }} "><img src="{{ follow.avatar_url_nm }}"
                                                                                    alt="avatar"></a>
            {% else %}
                <a href="{{ url_for('main.user',username=follow.username) }} "><img src="{{ follow.gravatar() }}"
                                                                                    alt="avatar"></a>
            {% endif %}
        </div>
        <div class="col-md-10">
            <div class="col-md-8">
                <a href="{{ url_for('main.user',username=follow.username) }}">{{ follow.username }}</a>
                <span style="display: block">{{ follow.about_me|replace_none }}</span>
                <div class="who-is-following">
                    {% set items=current_user.who_is_following_current_user_in_my_followed(follow) %}
                    {% if items !=[] %}
                        <span>我关注的人里面</span>
                        {% for item in  items %}
                            <span class="text-muted"><a
                                    href="{{ url_for('main.user',username=item.username) }}">{{ item.username }}</a></span>
                            .
                        {% endfor %}
                        <span>关注了他</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="follow-user-btn">
                    {% if not current_user.is_following_user(follow) %}
                        <a href="{{ url_for('main.follow_user',username=follow.username) }}"
                           class="btn btn-danger btn-lg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关注</a>
                    {% else %}
                        <a href="{{ url_for('main.unfollow_user',username=follow.username) }}"
                           class="btn btn-danger btn-lg">取消关注</a>
                    {% endif %}
                </div>

            </div>

        </div>

    </div>
{% endfor %}