<style>
    .zd-topic-main{
        position: relative;
        top: 20px;
        text-overflow: clip;
    }
    .zd-topic-main h4{
        display: inline;
    }
    .zd-topic-main li{
        margin-top: 10px;
    }
    .topic-item-description{
        position: relative;
        left: 50px;
    }
    .topic-follow{
        float: right;
    }
</style>
{% for topic in topics %}
    <div class="zd-topic-main clearfix">
                <ul class="list-group">
                <li class="list-group-item">
                    <h4><a href="{{ url_for('main.topic_detail',id=topic.id) }}">{{ topic.title }}</a></h4>
                    {% if not topic.is_followed_by(current_user) %}
                        <a href="{{ url_for('main.follow_topic',id=topic.id) }}" class="btn btn-default topic-follow">关注</a>
                    {% else %}
                        <a href="{{ url_for('main.unfollow_topic',id=topic.id) }}" class="btn btn-warning topic-follow ">取消关注</a>
                    {% endif %}
                    <p class="topic-item-description">{{ topic.description }}</p>
                </li>

            </ul>

        </div>

{% endfor %}