{% extends "base/base.html" %}
{% import "base/_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
    {{ super() }}
    <script src="//cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
    
{% endblock %}
{% block page_content %}
    <div class="col-md-2"></div>
    <div class="col-md-6">
    <div>
        <h1>{{ question.title }}</h1>
        <h1>评论</h1>
        <form method="post">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form,hiddens='only') }}
            {{ wtf.form_field(form.body,class='ckeditor') }}
            {{ wtf.form_field(form.submit) }}
        </form>
    </div>

            {% if comments %}
            {% include "utility/_comments.html" %}
            {% endif %}
            {% if pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination,'.question_comments',id=question.id) }}
            </div>
            {% endif %}
    </div>
    <div class="col-md-4">
{#      <div class="jumbotron">#}
{#         <div class="adv">#}
{#         </div>#}
{#      </div>#}
{#      <div class="tags jumbotron">#}
{##}
{#      </div>#}
    </div>

{% endblock %}