{% extends "base/base.html" %}
{% import "base/_macros.html" as macros %}
{% block title %}文章{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block page_content %}
    <div class="container">
    <div class="col-md-1"></div>
    <div class="col-md-8">
    <ol class="breadcrumb">
  <li><a href="{{ url_for('main.post_order_by_timestamp') }}">时间排序</a></li>
  <li><a href="{{ url_for('main.post_order_by_likecount') }}">热度排序</a></li>
    </ol>
    {% include "utility/_posts.html" %}
    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination,'.posts') }}
    </div>
    {% endif %}
    </div>
    <div class="col-md-3">
      <div class="jumbotron">
         <div class="adv">
         </div>
      </div>
    {% if tags %}
      <div class="tags jumbotron">
          <div class="tag-item">
                {% for tag in tags %}
                    <a href="{{ url_for('main.tag_posts',id=tag.id) }}" class="label label-{{ choice() }}">{{ tag.title }}</a>
                {% endfor %}
          </div>
      </div>
    {% endif %}
    </div>
    </div>
{% endblock %}