{% extends "base/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}编辑资料{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
    <div class="col-md-2"></div>
    <div class="edit-self col-md-6">
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.user',username=current_user.username) }}">回到个人资料</a></li>
    </ol>
    <h1>编辑资料-{{ current_user.username }}</h1>
{#    <form method="post">#}
{#    {{ form.hidden_tag() }}#}
{#    {{ wtf.form_errors(form,hiddens='only') }}#}
{#    {{ wtf.form_field(form.name,class='col-md-4') }}#}
{#    {{ wtf.form_field(form.location) }}#}
{#    {{ wtf.form_field(form.job) }}#}
{#    {{ wtf.form_field(form.submit,class='col-md-12 btn btn-danger') }}#}
{#    </form>#}

            {{ form.hidden_tag() }}
    {{ wtf.quick_form(form) }}


    </div>
    <div class="col-md-4"></div>
{% endblock %}