{% extends "base/base.html" %}
{% import "base/_macros.html" as macros %}
{% block title %}topics{% endblock %}


{% block page_content %}
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <ul class="breadcrumb">

        <li><a href="{{ url_for('main.user',username=user.username) }}">回到资料页</a></li>
    </ul>
    {% if current_user==user %}
    <h1>我关注的用户的文章</h1>
    {% else %}
    <h1>他关注的用户的文章</h1>
    {% endif %}
        {% if posts %}
            {% include "utility/_posts.html" %}
    {% endif %}
    {% if pagination %}
            <div class="pagination">
        {{ macros.pagination_widget(pagination,'main.post_likes',username=user.username) }}
            </div>
    {% endif %}

    </div>
    <div class="col-md-4"></div>
{% endblock %}