{% extends "base/base.html" %}
{% import "base/_macros.html"as macros %}
{% block title%}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block page_content %}
<div class="col-md-2">

</div>


    <div class="col-md-6">
    <ul class="breadcrumb">
        <li><a href="{{ url_for('main.user',username=user.username) }}">回到资料页</a></li>
    </ul>
    <h1>关注的收藏夹</h1>
        {% if favorites %}
            {% include "utility/_favorites.html" %}
    {% endif %}
    </div>
    <div class="col-md-4">

    </div>
{% endblock %}