{% extends "base/base.html" %}
{% import "base/_macros.html"as macros %}
{% block title %}个人资料{% endblock %}
{% block head %}
{{ super() }}
    <style>
        .follow-card{
            max-width: 100%;
        height: 130px;
        box-shadow: #d9efc8 2px 2px 1px -1px;
        border: 1px solid #dbefe9;
        margin-top: 20px;
        }
    .follow-card p{
        font-size: 30px;
    }
    </style>
{% endblock %}

{% block page_content %}
<div class="person">
        <div class="container">
            <div class="person-title">
                <div class="user-avatar col-md-4">
                    {% if user.avatar_url_nm %}
                        {% if current_user==user %}
                        <a href="{{ url_for('main.upload_avatar') }}">
                            <img src="{{ user.avatar_url_nm}}" alt="avatar" id="avatar">
                        </a>
                            {% else %}
                                <img src="{{ user.avatar_url_nm}}" alt="avatar" id="avatar">
                            {% endif %}
                    {% else %}
                        {% if current_user==user %}
                        <a href="{{ url_for('main.upload_avatar') }}">
                            <img src="{{ user.gravatar(400) }}" alt="avatar" id="avatar">
                        </a>
                            {% else %}
                                <img src="{{ user.gravatar(400) }}" alt="avatar" id="avatar">
                            {% endif %}
                    {% endif %}
                    <h2 style="text-align: right;font-weight: bold;position: relative;bottom: 40px;right: 27px">{{ user.name|replace_none}}</h2>
                    <div class="user-info">
                        <span><a href="#">{{ user.job|replace_none }}</a></span>
                    </div>
                </div>
                <div class="col-md-8">
                    <span class="introduce"><h4>{{ user.about_me|replace_none }}</h4></span>
                    {% if user==current_user %}
                            <div class="edit-btn">
                            <a href="{{ url_for('main.edit_profile') }}" class="btn btn-danger">编辑个人资料</a>
                            </div>
                    {% else  %}
                        <div class="follow-user">
                            {% if not current_user.is_following_user(user) %}
                                <a href="{{ url_for('main.follow_user',username=user.username) }}" class="btn btn-danger">关注</a>
                            {% else %}
                                <a href="{{ url_for('main.unfollow_user',username=user.username) }}" class="btn btn-danger">取消关注</a>
                            {% endif %}
                        </div>
                    {% endif %}


                </div>
            </div>
        </div>
        <div class="person-body">
            <div class="col-md-8">
                <ul class="nav nav-tabs">
                    <li><a href="{{ url_for('main.user_questions',username=user.username) }}" id="render">提问 <span class="badge">{{ user.questions.count() }}</span></a></li>
                    <li><a href="{{ url_for('main.user_answers',username=user.username) }}" id="answer">回答 <span class="badge">{{ user.answers.count() }}</span></a></li>
                    <li><a href="{{ url_for('main.user_posts',username=user.username) }}">文章 <span class="badge">{{ user.posts.count() }}</span></a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">收藏 <span class="caret"></span></a>
                      <ul class="dropdown-menu">

                          {% for favorite in favorites %}
                              {% if  favorite.public %}
                        <li><a href="{{ url_for('main.favorite',username=user.username,id=favorite.id) }}">{{ favorite.title }}</a></li>
                              {% else %}
                                  {% if current_user==favorite.user %}
                                      <li><a href="{{ url_for('main.favorite',username=user.username,id=favorite.id) }}">{{ favorite.title }}</a></li>
                                      {% endif %}
                              {% endif %}
                          {% endfor %}

                        <li role="separator" class="divider"></li>
                        {% if current_user==user or current_user.can(Permission.ADMINISTER) %}
                        <li><a href="{{ url_for('main.create_favorite',username=user.username) }}">新建收藏夹</a></li>
                        {% endif %}
                      </ul>
                     </li>
                </ul>
{#                <div class="indicator"></div>#}
                {% if type=='question' %}
                {% include "utility/_questions.html" %}
                {% elif type=='answer' %}
                {% include "utility/_answers.html" %}
                {% elif type=='post' %}
                {% include "utility/_posts.html" %}
                {% endif %}
                {% if pagination %}
                    <div class="pagination">
                        {{ macros.pagination_widget(pagination,'.user',username=user.username) }}
                    </div>
                    {% endif %}

            </div>
            <div class="col-md-4">
                <div class="follow-card">
                    <div class="col-md-6">
                        <h2><a href="{{ url_for('.user_followers',username=user.username) }}">关注者</a></h2>
                    <p class="">{{ user.followers.count()-1 }}</p>
                    </div>
                    <div class="col-md-6">
                        <h2><a href="{{ url_for('.user_followed',username=user.username) }}">关注了</a></h2>
                        <p class="">{{ user.followed.count()-1 }}</p>
                    </div>


                </div>
                <div class="list-group">
                    <a href="{{ url_for('.followed_questions',username=user.username) }}" class="list-group-item">关注的问题<span class="badge">{{ user.followed_questions.count() }}</span></a>
                    <a href="{{ url_for('.followed_topics',username=user.username) }}" class="list-group-item">关注的话题<span class="badge">{{ user.followed_topics.count() }}</span></a>
                    <a href="{{ url_for('.followed_favorites',username=user.username) }}" class="list-group-item">关注的收藏夹<span class="badge">{{ user.followed_favorites.count() }}</span></a>
                    <a href="{{ url_for('.post_likes',username=user.username) }}" class="list-group-item">赞过的文章<span class="badge">{{ user.post_likes.count() }}</span></a>
                    <a href="{{ url_for('.recent_questions') }}" class="list-group-item">最近浏览问题<span class="badge">5</span></a>
                </div>
                <div class="text-muted">
                    <h5>注册时间 ·<span>{{ moment(user.member_since).format('L') }}</span></h5>
                    <h5>上次浏览 ·<span>{{ moment(user.last_seen).fromNow() }}</span></h5>
                    <h5>个人主页被浏览了 ·<span>{{ user.visited_count }}次</span></h5>
                </div></div>
        </div>
    </div>
{% endblock %}

