{% extends "base/base.html" %}
{% import "base/_macros.html"as macros %}
{% block title%}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block page_content %}
    <div class="col-md-2"></div>
    <div class="col-md-6">
    <ul class="breadcrumb">
        <li><a href="{{ url_for('main.user',username=user.username) }}">回到资料页</a></li>
    </ul>
         <h1>{{ title }}</h1>
    {% if follows %}
    {% include "utility/_follows.html" %}
    {% endif %}
    {% if style=='user_followers' %}
        {% if pagination %}
            <div class="pagination">
        {{ macros.pagination_widget(pagination,'.user_followers',username=user.username) }}
            </div>
        {% endif %}
    {% elif style=='user_followed' %}
        {% if pagination %}
            <div class="pagination">
        {{ macros.pagination_widget(pagination,'.user_followed',username=user.username) }}
            </div>
        {% endif %}
    {% elif style=='question_followers' %}
        {% if pagination %}
            <div class="pagination">
        {{ macros.pagination_widget(pagination,'.question_followers',id=question.id) }}
            </div>
        {% endif %}
    {% endif %}

    </div>
    <div class="col-md-4"></div>
{% endblock %}