{% extends "base/base.html" %}
{% import "base/_macros.html" as macros %}
{% block title %}话题{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        .topic-card{
            border: 1px solid #dbefe9;
            max-width: 100%;
            height: 200px;
            box-shadow: #d9efc8 2px 2px 1px -1px;
        }
        .topic-followers-count-card{
            border: 1px solid #dbefe9;
            max-width: 100%;
            height: 100px;
            box-shadow: #d9efc8 2px 2px 1px -1px;
        }
        .excellent_author_card{
                max-width: 100%;
            height: 100px;
            box-shadow: #d9efc8 2px 2px 1px -1px;
            border: 1px solid #dbefe9;
            margin-top: 20px;
        }

        .topic-follow-btn{
            position: relative;
            top: 60px;

        }

        .topic-card .side{

        }
        .topic-card {
            word-wrap: break-word;
            word-break: break-all;
        }
    .topic-questions{
        position: relative;
        top: 20px;
        box-shadow: #d9efc8 2px 2px 1px -1px;
        border: 1px solid #dbefe9;
    }
    .total-topic-answers{
        position: relative;
        top: 28px;
    }
    .total-topic-liked-answers-count{
        position: relative;
        top: 28px;
        float:right;
    }
    </style>
{% endblock %}

{% block page_content %}
    <div class="col-md-2">

    </div>
    <div class="col-md-6">
        <div class="topic-card">
            <div class="col-md-2 side">

                <div class="topic-picture"><img src={% if topic.cover_url %}"{{ topic.cover_url }}" {% elif topic.author %}{{ topic.author.gravatar(50) }}{% endif %}alt="临时"></div>

                {%  if not current_user.is_following_topic(topic) %}
                <div class="topic-follow"><a href="{{ url_for('main.follow_topic',id=topic.id) }}" class="btn btn-danger btn-md topic-follow-btn">关注</a></div>
                {% else %}
                    <div class="topic-follow"><a href="{{ url_for('main.unfollow_topic',id=topic.id) }}" class="btn btn-default btn-md topic-follow-btn">取消关注</a></div>
                {% endif %}
            </div>
            <div class="col-md-10">
                <h1>{{ topic.title }}</h1>
                <p>
                    {{ topic.description }}
                </p>
            </div>
        </div>
        <div class="topic-questions">
            {% if questions !=[] %}
            {% include "utility/_questions.html" %}
            {% endif %}
        </div>

    </div>
    <div class="col-md-4">
    <div class="col-md-8">
        <div class="topic-followers-count-card">
            <div class="col-md-6">
            <div class="topic-followers">
                <a href="{{ url_for('main.topic_followers',id=topic.id) }}">关注者</a>
                <h3>{{ topic.follower_count }}</h3>
            </div>
        </div>
    <div class="col-md-6">
        <div class="topic-question-count">
                <a href="">问题数</a>
                <h3>{{ topic.questions.count() }}</h3>
            </div>
    </div>

        </div>
    {% if  excellent_authors%}
    <h2>话题优秀回答者</h2>
        {% for author,count in excellent_authors %}
            <div class="excellent_author_card">
              <div class="col-md-6">
                    {% if author.avatar_url_sm %}
                    <a href="{{ url_for('main.user',username=author.username) }} "><img src="{{ author.avatar_url_nm }}" alt="avatar"></a>
                    {% else %}
                         <a href="{{ url_for('main.user',username=author.username) }} "><img src="{{ author.gravatar() }}" alt="avatar"></a>
                    {% endif %}

                </div>
                <div class="col-md-6">
                    <h3><a href="{{ url_for('main.user',username=author.username) }}">{{ author.username }}</a></h3>
                    <span class="total-topic-answers">共{{ count }}回答</span>
                    <span class="total-topic-liked-answers-count">共{{  author.total_liked_answers_count}}赞同</span>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
        <div class="col-md-4">

        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}